.post {
	width: 100%;
	max-width: 600px;
	padding: 20px;
	box-sizing: border-box;
	cursor: pointer;
}
.post p {
	width: 100%;
	color: #000;
	opacity: 0.3;
}
.post > i {
	width: 100%;
	visibility: hidden;
}
.post:hover {
	border: 2px solid #eee;
}
.post:hover > i {
	visibility: visible;
}
.post #title {
	width: 100%;
	font-size: 17px;
	font-weight: 700;
}
.post #short-description {
	margin-bottom: 0px;
}
