body {
	background-color: #f4f4f4;
}

#top nav {
	width: 100%;
	padding: 10px 0;
	background-color: #039be5;
}
#top nav > a {
	width: 100%;
	margin-bottom: 15px;
}
#top nav ul {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}
#top nav ul li {
	padding: 20px 0;
}
#top header {
	width: 100%;
	background-color: #039be5;
}
#top header #content {
	max-width: 600px;
	height: 100%;
	justify-content: center;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
	color: #fff;
}
#top header #content span {
	font-size: 50px;
	text-align: center;
}
#top header #content p {
	text-align: center;
	font-size: 18px;
	line-height: 32px;
}

#proposals {
	padding: 20px;
	box-sizing: border-box;
}
#proposals div span {
	font-size: 24px;
	font-weight: 700;
}
#proposals div img {
	height: 200px;
	width: 200px;
	background-color: #fff;
	margin-bottom: 10px;
	background-color: #f4f4f4;
}
#proposals div p {
	text-align: center;
	font-size: 16px;
	line-height: 28px;
}

@media screen and (min-width: 768px) {
	#top nav {
		flex-direction: row;
		justify-content: space-around;
	}
	#top nav > a {
		width: 50%;
		margin-bottom: 0;
		text-align: left;
	}
	#top nav ul {
		width: 30%;
		max-width: 280px;
		flex-direction: row;
		justify-content: space-around;
	}
	#top header {
		height: 95vh;
	}

	#proposals {
		max-width: 1000px;
		height: 95vh;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0 auto;
	}
	#proposals span {
		width: 100%;
		text-align: center;
	}
	#proposals div {
		flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
	}
}
